root = true

[*]
max_line_length = 120
end_of_line = lf
insert_final_newline = true
tab_width = 4
indent_style = space
indent_size = 4
charset = utf-8

[*.md]
trim_trailing_whitespace = false

[*.{html,json,css,yaml,yml}]
tab_width = 2
indent_size = 2
