body {
  background: url("../media/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: var(--black);
  color: var(--white);
}

#layout {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, .70);
}

hr {
  border-top-color: var(--white);
}

a {
  color: var(--white);
}

header {
  padding-top: 15vh;
  padding-bottom: 15vh;
  min-height: 100vh;
}

.cursor-help {
  cursor: help;
}

.text-primary {
  color: var(--white) !important;
}

.text-secondary {
  color: var(--orange) !important;
}

a:hover, #header-scroll-down:hover {
  color: var(--orange) !important;
}

.music-entry-image:hover {
  border-color: var(--orange) !important;
}

.about-icon {
  font-size: 150%;
}

.indent {
  text-indent: 20px;
}

.project .card {
  background-color: rgba(0, 0, 0, .4);
}

.contact-entry {
  text-decoration: none !important;
}
